* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    background-color: #f0f0f0;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #333;
}

th, td {
    padding: 10px;
    text-align: center;
}

thead th {
    background-color: #4285f4;
    color: #fff;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

button {
    margin-bottom: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #4285f4;
    color: #fff;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0d6efd;
}

#employeeIdInput, #monthYearInput {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#employeeIdInput input[type="text"], #monthYearInput input[type="text"] {
    height: 30px;
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#employeeIdInput button, #monthYearInput button {
    padding: 5px 10px;
}
